body {
  margin: 15px;
  margin-left: 0;
}

#colorfy-popup-settings {
  width: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#colorfy-popup-settings li {
  color: #444;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 30px;
  line-height: 32px;
  text-align: left;
  padding-left: 40px;
  margin: 5px 0;
  user-select: none;
  position: relative;
}

#colorfy-popup-settings .popup-setting {
  background-color: #BBE5B3;
}

#colorfy-popup-settings .popup-setting.disabled {
  background-color: #FEAF9A;
}

#colorfy-popup-settings .popup-header {
  background-color: #f8d94b;
  margin-top: 15px;
  font-weight: bold;
}

#colorfy-popup-settings .popup-info {
  background-color: #eee;
}

#colorfy-popup-settings .button {
  cursor: pointer;
}

#colorfy-popup-settings .button:hover,
#colorfy-popup-settings .popup-setting:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.settings-header-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.settings-header-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
}

.settings-header-icon > svg {
  height: 16px;
  width: 20px;
  margin: 7px 11px;
  fill-opacity: 0.2;
}
